* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #EDE6DD

}

/*HEADER*/

header {
    max-width: 1440px;
    height: 112px;
    padding: 40px 10px;
    margin:  auto;
    position: relative;

}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.container nav ul {
    display: flex;
    list-style: none;

}

.container nav ul li {
    margin-left: 40px;
}

.container nav ul li a {
    color: #592141;
    font-family: 'Kalnia', serif;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    text-decoration: none;
    position: relative;
    top: 70%;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    text-align: center;
}

/*MAIN*/

.text_part{
    max-width: 1200px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 190px;
}

.article_text{
    max-width: 549px;
}

.article_text h1{
    color: #1E1928;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
}

.article_text h2{
    color: rgba(30, 25, 40, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.252px;
    margin-bottom: 4px;
}

.article_text p{
    color: rgba(30, 25, 40, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.252px;
    margin-bottom: 28px;
}

.article_text h3{
    color: rgba(30, 25, 40, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.252px;


}

.form{
    border-radius: 9999px;
    background: #FFF;
    padding: 8px 12px;
    display: flex;
    max-width: 448px;
    justify-content: space-between;
}

.placeholder{
    width: 180px;
    border: none;
    background-color: transparent;
    padding: 10px 19px;
    color: rgba(30, 25, 40, 0.23);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

}

.button{
    width: 179px;
    height: 40px;
    border-radius: 9999px;
    border: none;
    background: #1E1928;
    color: #F4EFE9;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 10px 32px;
}



/*Orange box*/

.orange{
    padding-top: 270px;
    padding-bottom: 78px;
    background-color: #FFD394;
    background-image: url("../images/pieces.png");
    background-repeat: no-repeat;
    background-position: bottom -241px left 0;
    position: relative;
}

.orange div{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;

}

.orange div h2{
    color: #1E1928;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
}


.orange ul{
    list-style: none;

}

.orange div ul li {
     position: relative;

 }


.orange div ul li:before{
    content: "1";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    background: #1E1928;
    line-height: 24px;
    text-align: center;
    justify-content: center;
    margin-left: -64px;
}

.orange div ul li:nth-child(1):before {
    content: "1";
    color: #EDE6DD;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.252px;

}

.orange div ul li:nth-child(2):before {
    content: "2";
    color: #EDE6DD;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.252px;
}

.orange div ul li:nth-child(3):before {
    content: "3";
    color: #EDE6DD;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.252px;

}


.orange div ul li h4{
    color: #1E1928;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0.252px;

}

.orange div ul li p{
    color: rgba(30, 25, 40, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.176px;
    margin-top: 4px;

}


.free_block{
    border-radius: 8px;
    background: #FFF;
    position: absolute;
    text-align: center;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: auto;
    padding: 80px 0;
    top: -190px;
    left: calc(50% - 600px);
}


.free_block article h2{
    color: #1E1928;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 40;
    line-height: 42px;

}

.free_block article p{
    margin: 28px 273px 20px 273px;
    color: rgba(30, 25, 40, 0.80);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.252px;"

}

.free_block article a{
    border-radius: 9999px;
    border: 1px solid #1E1928;
    max-width: 142px;
    height: 40px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #1E1928;
    background-color: #FFFFFF;
    text-decoration: none;
    padding: 10px 33px;
    margin-top: 20px;
}


/*HUGE BLOCK*/

.huge_block{
    min-height: 3480px;
    background: #F4EFE9;
    width: 100%;
    padding-top: 80px;
}

.block_1{
    display: flex;
    margin: auto;
    max-width: 1200px;
    /*width: 100%;*/
    height: 600px;
    /*border: orange solid 1px;*/
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.block_1 img{
    width: 600px;
    height: 600px;
}

.block_1 article h2{
    color: #1E1928;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    text-align: right;
    margin-bottom: 28px;

}

.block_1 article p{
    color: rgba(30, 25, 40, 0.80);
    text-align: right;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.252px;
}

.block_2{
    display: flex;
    margin: auto;
    max-width: 1200px;
    width: 100%;
    height: 600px;
    /*border: orange solid 1px;*/
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.block_2 img{
    width: 600px;
    height: 600px;
}

.block_2 article h2{
    color: #1E1928;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    margin-bottom: 28px;
}

.block_2 article p{
    font-family: 'Inter', sans-serif;
    color: rgba(30, 25, 40, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.252px;
}

.block_3{
    display: flex;
    margin: auto;
    max-width: 1200px;
    width: 100%;
    height: 600px;
    /*border: orange solid 1px;*/
    justify-content: space-around;
    align-items: center;
    position: relative;

}

.block_3 img{
    width: 600px;
    height: 600px;
}

.block_3 article h2{
    color: #1E1928;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    text-align: right;
    margin-bottom: 28px;
}

.block_3 article p{
    font-family: 'Inter', sans-serif;
    color: rgba(30, 25, 40, 0.80);
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.252px;
}

.block_4{
    display: flex;
    margin: auto;
    max-width: 1200px;
    width: 100%;
    height: 600px;
    /*border: orange solid 1px;*/
    justify-content: space-around;
    align-items: center;
    position: relative;

}

.block_4 img{
    width: 600px;
    height: 600px;
}

.block_4 article h2{
    color: #1E1928;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    margin-bottom: 28px;
}

.block_4 article p{
    color: rgba(30, 25, 40, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.252px;

}

.block_5{
    display: flex;
    margin: auto;
    max-width: 1200px;
    width: 100%;
    height: 600px;
    /*border: orange solid 1px;*/
    justify-content: space-around;
    align-items: center;
    position: relative;

}

.block_5 img{
    width: 600px;
    height: 600px;
}

.block_5 article h2{
    color: #1E1928;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 28px;
}

.block_5 article p{
    color: rgba(30, 25, 40, 0.80);
    text-align: right;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 176.471% */
    letter-spacing: 0.252px;
}

/*<!-- BLOCK WITH PIC WINDOWS-->*/

.windows_block{
    min-height: 734px;
    width: 100%;
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/

}
.sad_pictures{
    display: flex;
    margin-bottom: 80px;
    justify-content: space-between;
    align-items: center;
}

.sad_pictures a{
    max-width: 160px;
    display: inline-block;
}


.sad_pictures .owl-stage{
    display: flex;
    align-items: center;
}

.sad_pictures.owl-carousel .owl-items{
    text-align: center;
}

.windows_block h2{
    color: #1E1928;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 152.941% */
    letter-spacing: 0.252px;
    margin-bottom: 80px;
    margin-top: 144px;
}

.library{
    border-radius: 9999px;
    border: 1px solid #1E1928;
    /*width: 168px;*/
    height: 40px;
    flex-shrink: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #1E1928;
    text-decoration: none;
    padding: 10px 33px;
    display: block;
    margin: 0 auto;
    width: fit-content;
}



.bordo{
    width: 100%;
    height: 852px;
    background: #592141;
    padding-top: 288px;
    position: relative;
}


.bordo h4{
    color: #F4EFE9;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.252px;
}

.bordo h4:after{
    display: block;
    width: 41px;
    margin: auto;
    content: "“";
    color: #F4EFE9;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 96px;
    padding-top: 26px;
}


.bordo h5{
    color: #F4EFE9;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

.bordo p{
    color: #F4EFE9;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 32px;
}


.free_block_second{
    border-radius: 8px;
    background: #FFF;
    position: absolute;
    text-align: center;
    max-width: 1200px;
    width: 100%;
    /*display: flex;*/
    justify-content:center;
    align-items: center;
    margin: auto;
    padding: 80px 0;
    top: -190px;
    left: calc(50% - 600px);
}

.free_block_second article h3{
    color: #1E1928;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    padding-bottom: 28px;
}

.free_block_second article p{
    font-family: 'Inter', sans-serif;
    color: rgba(30, 25, 40, 0.80);
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 176.471% */
    letter-spacing: 0.252px;

}



/*<!-- BLOCK WITH PIC WINDOWS-->*/

.windows_block{
    min-height: 734px;
    width: 100%;
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/

}
.sad_pictures{
    display: flex;
    margin-bottom: 80px;
    justify-content: space-between;
    align-items: center;
}

.sad_pictures a{
    max-width: 160px;
    display: inline-block;
}


.sad_pictures .owl-stage{
    display: flex;
    align-items: center;
}

.sad_pictures.owl-carousel .owl-items{
    text-align: center;
}

.windows_block h2{
    color: #1E1928;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 152.941% */
    letter-spacing: 0.252px;
    margin-bottom: 80px;
    margin-top: 144px;
}

.library{
    border-radius: 9999px;
    border: 1px solid #1E1928;
    /*width: 168px;*/
    height: 40px;
    flex-shrink: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #1E1928;
    text-decoration: none;
    padding: 10px 33px;
    display: block;
    margin: 0 auto;
    width: fit-content;
}

/*BORDOVIY BLOCK*/

.bordo{
    width: 100%;
    height: 852px;
    background: #592141;
    padding-top: 288px;
    position: relative;
}


.bordo h4{
    color: #F4EFE9;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.252px;
}

.bordo h4:after{
    display: block;
    width: 41px;
    margin: auto;
    content: "“";
    color: #F4EFE9;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 96px;
    padding-top: 26px;
}


.bordo h5{
    color: #F4EFE9;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

.bordo p{
    color: #F4EFE9;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 32px;
}


.free_block_second{
    border-radius: 8px;
    background: #FFF;
    position: absolute;
    text-align: center;
    max-width: 1200px;
    width: 100%;
    /*display: flex;*/
    justify-content:center;
    align-items: center;
    margin: auto;
    padding: 80px 0;
    top: -190px;
    left: calc(50% - 600px);
}

.free_block_second article h3{
    color: #1E1928;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    padding-bottom: 28px;
}

.free_block_second article p{
    font-family: 'Inter', sans-serif;
    color: rgba(30, 25, 40, 0.80);
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 176.471% */
    letter-spacing: 0.252px;

}



/*AKK*/

.container_faq{
    max-width: 1200px;
    margin: auto;
}

.faq {
    padding: 100px;
    background-color: #FFFFFF;
    margin-bottom: 50px;
}

.faq h4{
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 65px;
    font-style: normal;
    margin-bottom: 40px;
}

.faq .ui-accordion .ui-accordion-header{
    background-color: white;
    border: solid 2px black;
    padding: 15px;
    border-radius: 20px;
}

.faq .ui-accordion .ui-accordion-header .ui-state-active{
    color: black;
}


.faq p{
        display: block;
        color: black;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-style: normal;
        padding: 5px;
    }

#accordion div ul li{
    list-style: square;
}
#accordion div ul{
    padding: 5px 45px;
}


/*ШАПКА с надписью*/

.faq .ui-accordion .ui-accordion-header{
        line-height: 1.3;
        list-style: none;
        box-sizing: border-box;
        font-weight: normal;
        color: black;
        display: block;
        cursor: pointer;
        position: relative;
        margin: 2px 0 0 0;
        padding: 0.5em 0.5em 0.5em 0.7em;
        border: 1px solid black;;
        border-radius: 10px;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        background: white;
    }

.faq .ui-accordion .ui-accordion-header.ui-state-active{
    background: papayawhip;
    border-radius: 10px 10px 0 0;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: none;
    color: black;
    font-weight: normal;

}

/*квадрат с надписью*/

.faq .ui-accordion .ui-accordion-content{
    background: papayawhip;
    font-weight: normal;
    border-radius: 0 0 10px 10px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}



.faq .ui-accordion .ui-accordion-header .ui-icon{
        background-image: none;
        position: absolute;
        right: 20px;
        width: 50px;
        top: 50%;
    }

.faq .ui-accordion .ui-accordion-header .ui-icon:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../images/direction_icon.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.5s ease;
}

.faq .ui-accordion .ui-accordion-header.ui-state-active .ui-icon:after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 5px;
    top: 50%;
    background-image: url('../images/direction_icon_copy.png');
    /*transform: translate(-50%, -50%) rotate(360deg);*/
}







